.header {
	width: 100%;
	position: absolute;
	z-index: 1;
	&__container {
	}
	&__body {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		// gap: 15px;
		@include adaptiveValue("gap", 101, 10);
		@media (min-width:$mobile){
			//  gap: 45px;
		}
		@media (min-width:$tablet){
			// gap: 101px;
		}

	}
	&__logo {
		flex: 1 0 auto;
		@include adaptiveValue("width", 102, 70);
		z-index: 1;
	}
	&__menu {
		order: 1;
		@media (min-width:$tablet){
		}
		@media (min-width:$mobile){
			flex: 1 0 auto;
			 order: 0;
		}
	}
	&__tel {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		z-index: 1;
		gap: 8px;
		flex-shrink: 0;
		a {
			color: $colorMain;
		}
	}
	&__icon {
		@media (max-width: 375px){
			display: none;
		}
	}
	&__number {
	}
}
.menu {
	&__body {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba($color: rgb(255, 255, 255), $alpha: 1);
		transition: all 0.3s ease 0s;
		overflow: auto;
		padding: 160px 0 30px 0;
		transform: translate(-100%, 0);
		@media (min-width: $mobile) {
			display: block;
			position: static;
			transform: translate(0, 0);
			background-color: transparent;
			height: auto;
			overflow: hidden;
			padding: 0;
		}
		//Класс для плавного показа меню боди (при нажатии на меню бургер)
		&.__active-menu--burger {
			transform: translate(0, 0);
		}
	}
	&__list {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
		gap: em(54);
		@media (min-width: $mobile) {
			flex-flow: row nowrap;
			gap: 20px;
		}
	}
	&__icon {
	}
	&__body {
	}
	&__item {
	}
	&__link {
		color: black;
	}
}
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		background-color: transparent;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: rgb(0, 0, 0);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		// при нажатии на меню бургер превращается в закрывающую кнопку
		&.menu-open {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
.lock-padding {
}
.menu {
}
.icon-menu {
}
