//====================================================================================================
.main-screen {
    height: 100%;
    width: 100%;
    padding: 120px 0;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: rem(10);
    @media (min-width: $mobile) {
        padding: 150px 0;
    }
    @media (min-width: $tablet) {
        padding: 270px 0 320px 0;
    }
    @media (min-width: 1024px) {
        display: block;
        position: relative;
    }
    &__background {
        min-height: 100%;
        width: 100%;
        position: relative;
        z-index: -1;
        height: 100%;
        margin-top: -80px;
        &::after {
            // position: absolute;
            // content: url(../images/main/main-screen/5.png);
            // bottom: 150px;
            // z-index: -10;
            // right: 50%;
            // background-size: 10px 10px;
        }
        @media (min-width: $mobileSmall) {
            margin-top: -120px;
        }
        @media (min-width: $mobile) {
            margin-top: -200px;
        }
        @media (min-width: 1024px) {
            position: absolute;
            max-width: rem(1000);
            bottom: 0;
            right: 0;
        }
    }
    &__background--right {
        text-align: end;
        position: relative;
        float: right;
        max-width: rem(300);
        @include adaptiveValue("max-width", 500, 300);

        @media (min-width: 1024px) {
            max-width: rem(1072);
        }
    }
    &__background--boy {
        position: absolute;
        z-index: 1;
        bottom: 20px;
        right: 40px;
    }
    &__background--vector {
    }
    &__container {
    }
    &__body {
    }
    &__title {
        margin-bottom: rem(44);
        max-width: rem(670);
        span {
            color: #018fa3;
        }
    }
    &__text {
        max-width: rem(532);
        margin-bottom: rem(44);
    }
    &__button {
    }
}

.directions {
    margin-bottom: rem(180);
    &__container {
    }
    &__body {
    }
    &__info {
    }
    &__row {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        @media (min-width: $tablet) {
            flex-flow: row nowrap;
            gap: 60px;
            margin-bottom: rem(83);
        }
        @media (min-width: 1440px) {
            gap: 120px;
        }
    }
    &__column {
        border-radius: 30px;
        max-width: rem(460);
        @media (min-width: $mobile) {
            flex: 0 0 40%;
        }
        @media (min-width: 1440px) {
            flex: 0 0 auto;
        }
    }
    &__text {
        background-color: #fff7be;
        padding: 25px;
        margin-bottom: rem(65);
        position: relative;
        &--top {
            &::after {
                content: url("../images/main/directions/yellow-circle.svg");
                position: absolute;
                top: -50px;
                left: -90px;
                width: 100px;
                height: 100px;
                z-index: -1;
            }
        }
        &--bottom {
            &::after {
                content: url("../images/main/directions/blue-circle.svg");
                position: absolute;
                bottom: 45px;
                right: 20px;
                width: 100px;
                height: 100px;
                z-index: -1;
            }
        }
        @media (min-width: $mobile) {
            height: 204px;
            &--top {
                span {
                    position: relative;
                    display: inline-block;
                    bottom: -50px;
                    left: -55px;
                }
            }
            &--bottom {
                span {
                    position: relative;
                    display: inline-block;
                    bottom: -50px;
                    left: -55px;
                }
            }
        }
    }
    &__image {
        margin-bottom: rem(65);
        position: relative;
        &--top {
            padding-bottom: 0px;
            &::after {
                content: "";
                background-image: url(../images/main/directions/dotted-line.svg);
                position: absolute;
                bottom: -30px;
                z-index: -1;
                left: 8px;
                height: 100%;
                width: 100%;
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        &--bottom {
            order: 2;
            margin-bottom: rem(140);
            &::after {
                content: "";
                background-image: url(../images/main/directions/dotted-line.svg);
                position: absolute;
                bottom: -30px;
                z-index: -1;
                right: 8px;
                height: 100%;
                width: 100%;
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
            }
            @media (min-width: $tablet) {
                order: 0;
            }
        }
    }
    &__content {
    }

    .content-circle {
        text-align: center;
        position: relative;
        @media (min-width: $tablet) {
            display: flex;
            flex-flow: column;
        }

        &__center-text {
            margin: 0 auto;
        }
        &__row {
            text-align: center;
            @media (min-width: $tablet) {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                &:nth-child(2),
                &:nth-child(4) {
                    .content-circle__column:first-child {
                        margin-left: 100px;
                    }
                }
                &:nth-child(2),
                &:nth-child(4) {
                    .content-circle__column:last-child {
                        margin-right: 100px;
                    }
                }
            }
        }
        &__column {
            margin-bottom: rem(45);
            text-align: center;
            @media (min-width: $tablet) {
                max-width: rem(150);
            }
        }
        &__icon {
        }
        &__name {
        }
        &__center-image {
            margin-bottom: rem(45);
            img {
                margin-bottom: rem(15);
            }
            .content-circle__center-text {
                max-width: rem(380);
            }
            @media (min-width: $tablet) {
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -45%);
            }
        }
        &__column--bottom {
            @media (min-width: $tablet) {
                position: absolute;
                bottom: -130px;
                transform: translate(-50%, 0);
                left: 50%;
            }
        }
    }
}

.catalog {
    background-color: #f6faff;
    &__container {
    }
    &__body {
        padding-top: 66px;
        padding-bottom: 80px;
    }
    &__title {
        margin-bottom: rem(68);
    }
    &__slider {
        width: 100%;
        height: 100%;
    }
    &__wrapper {
    }
    &__slide {
    }
    .swiper {
    }
    .swiper-wrapper {
    }
    .swiper-slide {
    }
    .slide-catalog {
        &__body {
            text-align: center;
        }
        &__head {
            text-transform: uppercase;
            background-color: #955eea;
            padding: 26px 0;
            max-width: rem(390);
            margin: 0 auto;
        }
        &__content {
        }
        &__price {
            font-family: Commissioner;
            font-size: 48px;
            font-weight: 600;
            line-height: 59px;
        }
        &__row {
            font-family: Commissioner;
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            margin-bottom: rem(60);
        }
        &__ages {
        }
        &__hours {
        }
        &__info {
        }
        &__list {
        }
        &__item {
            margin-bottom: rem(24);
        }
        &__button {
        }
    }
    .btn {
    }
    .swiper-pagination {
    }
    .swiper-button-prev {
    }
    .swiper-button-next {
    }
    .swiper-scrollbar {
    }
}

//====================================================================================================
