//ОБЩИЕ СТИЛИ
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 5;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;
    padding: rem(30) rem(32) rem(32) rem(32);
  }
  &__content {
    background: #f6faff;
    border-radius: 30px;
    position: relative;
  }
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.icon-close {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 5px;
  right: 5px;
  .close {
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 20%;
      position: absolute;
      width: 70%;
      height: 2px;
    }
    &::before {
      top: calc(50% - rem(1));
      transform: rotate(-45deg);
      background-color: rgb(0, 0, 0);
    }
    &::after {
      bottom: calc(50% - rem(1));
      transform: rotate(45deg);
      background-color: rgb(0, 0, 0);
    }
  }
}
//========================================================================================================================================================
//ПОПАП ФОРМА
.popup {
  &__content {
    max-width: rem(300);
  }

  &__title {
    font-family: Commissioner;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    margin-bottom: rem(30);
    span {
      color: #018fa3;
    }
  }

}
.form {
  &__input {
    margin-bottom: rem(12);
    border-radius: 15px;
  }
  &__textarea {
    resize: none;
    @extend .form__input;
    @extend input;
    height: 120px !important;
  }
  ::placeholder {
    color: #c2c2c2;
  }
}

//========================================================================================================================================================
//ПОПАП СПАСИБО
#thanks.popup {
  .popup {
    &__body {
      padding: rem(80) rem(37) rem(103) rem(27);
    }
    &__content {
      max-width: rem(400);
    }
    &__text {
      font-family: Commissioner;
      font-size: 36px;
      font-weight: 500;
      line-height: 44px;
      text-align: center;
      @include adaptiveValue("font-size", 36, 24);
      @include adaptiveValue("line-height", 44, 34);

      span {
        color: #018fa3;
      }
      &:not(:last-child) {
        margin-bottom: rem(36);
      }
    }
    &__icon {
      margin-bottom: rem(16);
    }
  }
}
